.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
}

.gridPiece {
    border: 1px solid black;
}

.row {
    display: flex;
}


.gridPiece:hover {
    background-color: black;
}